{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="page-header">
                <h3 class="font_title">Blog</h3>
            </div>
            
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras id urna turpis. Praesent semper est et ullamcorper ullamcorper. Mauris porttitor varius augue vehicula volutpat. Morbi id ipsum vulputate, aliquet metus sed, mattis arcu. Sed nec commodo neque, eget mollis enim. Donec varius dui sit amet mi ornare, ut rhoncus nibh molestie. Fusce et pretium metus. Cras lorem turpis, vestibulum eget nulla porta, finibus fermentum dui. Vivamus fermentum aliquam eros, et mattis nisi luctus eu.</p>
            <p>Integer condimentum libero at enim eleifend feugiat. Vestibulum efficitur arcu augue, mattis fermentum ipsum elementum vel. Phasellus id nisi ac ligula vestibulum porttitor. Etiam sagittis erat ac lectus congue dapibus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce fermentum, ex id vestibulum sagittis, metus lacus tristique elit, sed pharetra massa ligula non elit. Nunc tincidunt, dolor et convallis vestibulum, lectus dui bibendum tortor, faucibus pretium nisl ante ut nisl.</p>
            <p>Vivamus non congue leo, ac interdum augue. Proin finibus aliquam ornare. Nunc ornare lorem massa, et laoreet risus auctor at. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur interdum mi quis tellus congue, in rutrum nulla volutpat. Donec eleifend elementum quam non blandit. Suspendisse vestibulum nulla rhoncus, aliquet felis quis, aliquam sapien.</p>
            <p>Interdum et malesuada fames ac ante ipsum primis in faucibus. Nullam sagittis nec lorem id pellentesque. Pellentesque quis ligula vel quam dapibus imperdiet. Pellentesque elit dolor, cursus eget tortor non, tincidunt commodo metus. Donec sed lacus nisl. Morbi eu justo facilisis, vulputate dolor vehicula, rhoncus arcu. In luctus turpis sed libero scelerisque, ac aliquam nisi accumsan. Nulla luctus purus et dolor pharetra convallis.</p>
            <p>Mauris fermentum ligula vitae condimentum consectetur. Curabitur laoreet tortor finibus augue ultricies tempor. Cras posuere sem quis ipsum volutpat bibendum. Quisque vitae porttitor lectus. Cras congue, velit in vestibulum lobortis, quam enim hendrerit sem, et congue est nunc nec metus. Quisque diam risus, gravida nec luctus id, pretium ut dui. Etiam gravida gravida elit. Nam ac tellus quis risus euismod ornare vel vitae quam. Sed congue quis nulla nec laoreet. Maecenas in augue nisl. Nullam pretium nisi quam, ut pretium diam mattis quis. Integer suscipit neque sed enim hendrerit egestas. Suspendisse mauris sem, molestie gravida purus vel, rutrum suscipit nibh. In hac habitasse platea dictumst. Donec gravida turpis purus, nec ullamcorper ante placerat eget. Fusce eget tellus dignissim ligula varius tempor non a metus.</p>
            
        </div>
    </div>
</div>
{% endblock content %}
