{% extends "base.html" %}

{% block content %}

<div class="container">
    <center><h1>Kontakt</h1></center>
</div>
<div class="container kontakt_con">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque orci lectus, ornare in scelerisque vitae, ullamcorper id ligula. Interdum et malesuada fames ac ante ipsum primis in faucibus. Mauris scelerisque arcu quis ex lobortis, vel interdum tortor egestas. Etiam iaculis auctor mauris vitae condimentum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nam non pellentesque nisl, ut tincidunt erat. Suspendisse a nunc eu magna fringilla vulputate nec eu ligula. Pellentesque vulputate, odio eu suscipit sagittis, dolor est commodo velit, a imperdiet eros arcu nec dolor. Aliquam imperdiet, nibh id aliquam placerat, tortor lorem condimentum augue, in fermentum elit nunc non urna.
Pellentesque tincidunt metus nulla, a maximus quam pulvinar sit amet. Duis sagittis quam sed risus tristique, vulputate tempor ex semper. Praesent a molestie orci. Morbi a nulla egestas, molestie nibh a, laoreet augue. Aliquam a magna vitae sapien aliquam pulvinar quis non massa. In porttitor dictum diam, quis vulputate sapien mattis ut. In ac dapibus neque.</p>
    <br>
    <p>Ime: Gewfoads Pofew</p>
    <p>Naslov: Fewasd 234, 1000 Ljubljana</p>
    <p>Tel: +389 40 234 532</p>
    <p>Email: Gewfoads.Pofew@gmail.com</p>
</div>
{% endblock content %}
