{% extends "base.html" %}

{% block content %}

<div class="container">
    <center><h1>Moji projekti</h1></center>
</div>
<div class="container projekti_con">
    <div class="row">
        <div class="col-md-3">
            <ol class="projekti">
                <li>neque a euismod</li>
                <li>nec orci sed</li>
                <li>viverra eros</li>
                <li>vel tellus ac</li>
                <li>ipsum eu nisl</li>
            </ol>
        </div>
        <div class="col-md-9">
            <p>1. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam fermentum tempus arcu, sed convallis felis egestas ac. Sed ante diam, ultrices ac orci eu, pellentesque commodo ex. Nullam blandit maximus ornare. Nam ut condimentum ipsum, in pretium sem. Praesent vitae nunc euismod, ornare tortor ut, semper augue. Vestibulum in metus vitae neque gravida lobortis quis ut magna. Pellentesque non dolor cursus odio varius gravida.</p>
            <p>2. Nulla dictum ipsum nec metus vulputate tincidunt. Maecenas non dui vel neque imperdiet malesuada. Aenean aliquam sodales orci, mollis tincidunt ipsum tincidunt eu. In commodo tortor eu convallis euismod. Suspendisse sit amet risus lorem. Ut efficitur ipsum at arcu ullamcorper, ut dictum eros commodo. Aliquam porta dolor vitae enim mattis, non lacinia dui ornare. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Duis at quam posuere, interdum elit id, congue est. Quisque urna diam, vestibulum eget maximus sit amet, blandit quis ex.</p>
            <p>3. Praesent viverra diam non tempor tempus. Etiam metus augue, fringilla vitae placerat nec, faucibus id orci. Curabitur eget eros nunc. Donec erat eros, tincidunt nec sapien sit amet, posuere commodo erat. Donec cursus erat in enim sodales pharetra. Suspendisse pulvinar laoreet interdum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Phasellus ullamcorper lacinia sem, a posuere orci fringilla a. Praesent nec urna in velit iaculis sodales. Mauris pellentesque justo magna. Fusce fringilla scelerisque nunc. Nunc ante nibh, aliquam in ultrices sed, volutpat quis magna. Curabitur tincidunt odio id vehicula aliquam. Suspendisse ultricies eu purus ac ullamcorper. Praesent at est tincidunt orci placerat congue.</p>
            <p>4. Integer volutpat turpis tortor, et accumsan justo blandit quis. Quisque eget lectus vitae est viverra convallis ut ut ipsum. Vivamus venenatis a lacus nec interdum. Sed et commodo justo. Sed ipsum ligula, lobortis vel sodales id, scelerisque eu urna. Aliquam posuere odio ipsum, sed tempor enim imperdiet non. Duis et risus nunc. Praesent sit amet mauris in ligula posuere laoreet eget et nisi. Etiam commodo leo at leo aliquet, nec ultrices mi iaculis.</p>
            <p>5. Mauris imperdiet lorem ut arcu dapibus tincidunt. Cras ac lorem vestibulum, fringilla felis et, tempor tellus. Vivamus tortor nisi, vestibulum non odio nec, fermentum venenatis massa. Duis quis magna lorem. Praesent egestas diam in urna gravida aliquet. Nunc nulla nisl, vulputate quis placerat ac, sodales a orci. Maecenas sed felis commodo, elementum est quis, commodo turpis. Proin a nulla vel ante sollicitudin gravida quis eu augue. Curabitur ut orci sem. Suspendisse potenti. Integer ac rhoncus nulla. Morbi nisl lacus, volutpat nec urna ut, commodo faucibus velit. Aliquam consectetur vitae nunc eget ornare. Vestibulum sagittis, est vitae dictum fermentum, lacus nunc ullamcorper tellus, nec consequat diam ante et erat.</p>
        </div>
    </div>
</div>
{% endblock content %}
